<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{.AppName}}-{{.Title}}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="/static/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="/static/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a><b>gin</b>Server <sub>v{{.Version}}</sub></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">login account: admin/123456</p>
        <form id="frmLogin" data-toggle="validator" action="/admin/login" method="post">
            <div class="form-group has-feedback">
                <input name="username" required type="text" class="form-control" placeholder="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group has-feedback">
                <input name="password" required type="password" class="form-control" placeholder="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <label>
                    <input name="rememberMe" type="checkbox"> Remember Me
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
        </form>
    </div>
    <br>
    <footer class="text-center">
        <p>
            Copyright &copy; 2019
            <a target="_blank" href="https://github.com/Blank-Xu/ginserver">
                ginserver
            </a>.
        </p> All rights reserved.
    </footer>
</div>

<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script src="/static/plugins/bootstrap-validator/validator.min.js"></script>
<script src="/static/plugins/jquery-form/jquery.form.min.js"></script>
<script src="/static/plugins/toastr/toastr.min.js"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
        if (localStorage.rememberMe && localStorage.rememberMe == "1") {
            $("input[name='username']").val(localStorage.username);
            $("input[name='password']").val(localStorage.password);
            $("input[name='rememberMe']").iCheck('check');
            $("input[name='rememberMe']").iCheck('update');
        }
        toastr.options = {
            closeButton: true,
            positionClass: "toast-top-center"
        };
    });

    var options = {
        beforeSubmit: function () {
            if ($('#rememberMe').val() === "1") {
                localStorage.username = $("input[name='username']").val();
                localStorage.password = $("input[name='password']").val();
                localStorage.rememberMe = 1;
            } else {
                localStorage.username = null;
                localStorage.password = null;
                localStorage.rememberMe = 0;
            }
        },
        success: function () {
            window.location = '/admin';
        },
        error: function (xhr) {
            if (xhr) {
                if (xhr.responseJSON.code === 4001){
                    toastr.error('please input correct username or password');
                    $("input[name='username']").focus();
                } else {
                    toastr.error(xhr.responseText, 'error');
                }
            }
        },
    };
    $('#frmLogin').ajaxForm(options);
</script>
</body>
</html>